body {
    background-image: url("https://i.pinimg.com/originals/15/08/1a/15081ae9cea72981c20493b6160aff8c.jpg");
    background-color: #cccccc;
}
.num1{
    font-family: 'Pacifico', cursive;
    color:aquamarine;
    text-align: center;
}
.num2 {
    font-family: 'Bruno Ace SC', cursive;
    color: aquamarine;
    text-align: center;
}
.num3{
    font-family: 'Abril Fatface', cursive;
    color: aquamarine;
    text-align: center;
}
h1{
    color:#cccccc;
    text-align: center;
    
}